---
import config from "@/config/config.json";
import { Image } from "@astrojs/image/components";

const {
  drink_folder,
}: { drink_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image } = data.data;
---

<div class="bg-body dark:bg-darkmode-body">
  <a href={`/${drink_folder}/${data.slug}`}>
    <div>
      {
      image && (
        <Image
          class="mb-2 w-full rounded"
          src={image}
          alt={title}
          width={1280}
          height={720}
          format="webp"
        />
      )
    }
    <h4 class="mb-3">
      {title}
    </h4>
    </div>
  </a>
</div>

<!-- 
  <div class=" bg-theme-light dark:bg-darkmode-theme-light rounded">
  <a href={`/${drink_folder}/${data.slug}`}>
    <div>
      {
        image && (
          <Image
            class="mb-2 w-full rounded"
            src={image}
            alt={title}
            width={1920}
            height={1080}
            format="webp"
          />
        )
      }
      <h4 class="mb-3 pl-3 pb-2">
        {title}
      </h4>
    </div>
  </a>
</div>
 -->
