---
import config from "@/config/config.json";

const {
  summary_length,
  puzzle_folder,
}: { summary_length: number; puzzle_folder: string } = config.settings;
const { data } = Astro.props;
const { title, description } = data.data;
---

<div class="bg-body dark:bg-darkmode-body">
  <h4 class="mb-3">
    <a href={`/${puzzle_folder}/${data.slug}`}>
      {title}
    </a>
  </h4>
  <!-- <p class="mb-6">{plainify(data.body?.slice(0, Number(summary_length)))}</p> -->
  <p class="mb-6">{description}</p>
  <a
    class="btn btn-outline-primary btn-sm"
    href={`/${puzzle_folder}/${data.slug}`}
  >
    read more
  </a>
</div>
