---
const { tags, spirits, bottles, allSpirits, allBottles } = Astro.props;
---

<div class="lg:col-4">
  <!-- spirits -->
  <div class="mb-8">
    <h4 class="mb-2 text-center">
      <a href="/drink/spirits">Spirits</a>
    </h4>
    <div class="rounded bg-theme-light p-8 dark:bg-darkmode-theme-light">
      <ul>
        {
          spirits.map((spirit: any) => {
            return (
              <li class="inline-block">
                <a
                  class="m-1 block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                  href={`/drink/spirits/${spirit}`}
                >
                  {spirit}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <!-- bottles -->
  <div class="mb-8">
    <h4 class="mb-2 text-center">
      <a href="/drink/bottles">Bottles</a>
    </h4>
    <div class="rounded bg-theme-light p-8 dark:bg-darkmode-theme-light">
      <ul>
        {
          bottles.map((bottle: any) => {
            return (
              <li class="inline-block">
                <a
                  class="m-1 block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                  href={`/drink/bottles/${bottle}`}
                >
                  {bottle}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <!-- tags -->
  <div class="mb-8">
    <h4 class="mb-2 text-center">
      <a href="/drink/tags">Tags</a>
    </h4>
    <div class="rounded bg-theme-light p-6 dark:bg-darkmode-theme-light">
      <ul>
        {
          tags.map((tag: any) => {
            return (
              <li class="inline-block">
                <a
                  class="m-1 block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                  href={`/drink/tags/${tag}`}
                >
                  {tag}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</div>
