---
import DrinkCard from "@/components/DrinkCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import PageHeader from "@/components/PageHeader.astro";
import DrinkSidebar from "@/components/DrinkSidebar.astro";
import { getEntryBySlug } from "astro:content";

const { drink_folder } = config.settings;
const postIndex = await getEntryBySlug<any, string>(drink_folder, "-index");
const posts = await getSinglePage(drink_folder);
const allSpirits = await getAllTaxonomy(drink_folder, "spirits");
const spirits = await getTaxonomy(drink_folder, "spirits");
const allBottles = await getAllTaxonomy(drink_folder, "bottles");
const bottles = await getTaxonomy(drink_folder, "bottles");
const tags = await getTaxonomy(drink_folder, "tags");
const totalPages: number = Math.ceil(posts.length / config.settings.drink_pagination);
const currentPosts = posts.slice(0, config.settings.drink_pagination);
---

<Base
  meta_title={postIndex.data.title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- drink posts -->
        <div class="lg:col-8">
          <div class="row">
            {
              currentPosts.map((post) => (
                <div class="mb-4 md:mb-8 md:col-6">
                  <DrinkCard data={post} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={drink_folder}
            currentPage={1}
            totalPages={totalPages}
          />
        </div>

        <!-- sidebar -->
        <DrinkSidebar
          spirits={spirits}
          bottles={bottles}
          tags={tags}
          allSpirits={allSpirits}
          allBottles={allBottles}
        />
      </div>
    </div>
  </section>
</Base>
