---
import DrinkCard from "@/components/DrinkCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/components/PageHeader.astro";
import DrinkSidebar from "@/components/DrinkSidebar.astro";
import { getEntryBySlug } from "astro:content";

const { drink_folder } = config.settings;
const { slug } = Astro.params;
const postIndex = await getEntryBySlug<any, string>(drink_folder, "-index");
  const posts = await getSinglePage(drink_folder);
const allSpirits = await getAllTaxonomy(drink_folder, "spirits");
const spirits = await getTaxonomy(drink_folder, "spirits");
const allBottles = await getAllTaxonomy(drink_folder, "bottles");
const bottles = await getTaxonomy(drink_folder, "bottles");
const tags = await getTaxonomy(drink_folder, "tags");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.drink_pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.drink_pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.drink_pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);

export async function getStaticPaths() {
  const posts = await getSinglePage(config.settings.drink_folder);
  const totalPages = Math.ceil(posts.length / config.settings.drink_pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- drink posts -->
        <div class="lg:col-8">
          <div class="row">
            {
              currentPosts.map((post) => (
                <div class="mb-8 md:col-6">
                  <DrinkCard data={post} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={drink_folder}
            currentPage={currentPage}
            totalPages={totalPages}
          />
        </div>

        <!-- sidebar -->
        <DrinkSidebar
          spirits={spirits}
          bottles={bottles}
          tags={tags}
          allSpirits={allSpirits}
          allBottles={allBottles}
        />
      </div>
    </div>
  </section>
</Base>
