---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/components/PageHeader.astro";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("about", "-index");
const { Content } = await about.render();
const { title, description, meta_title, image } = about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container flex">
      <div class="row justify-center">
        <div class="col-10">
          <div class="row items-center flex-col-reverse lg:flex-row">
            <div class="text-center lg:col-8 lg:text-left">
              <div class="content">
                <Content />
              </div>
            </div>
            <div class="my-8 lg:col-4">
              {
                image && (
                  <Image
                    class="mx-auto rounded-lg w-64"
                    src={image}
                    width={1024}
                    height={1024}
                    alt={title}
                    format="webp"
                  />
                )
              }  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
