---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import type { HomeEntry } from "@/types";
import { Image } from "astro:assets";

interface Props {
  entry: HomeEntry;
}

const { entry } = Astro.props;
const { image, imageAlt, title, subtitle, button } = entry.data;
---

<BaseLayout>
  <!-- Banner -->
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-6">
          {
            image && (
              <div class="blur-[0px]">
                <Image
                  class="mb-4 w-64"
                  src={image}
                  alt={imageAlt}
                  width={1024}
                  height={1024}
                  format="webp"
                />
              </div>
            )
          }
          {title && <h1 set:html={markdownify(title)} class="mb-4" />}
          {subtitle && <p class="mb-8" set:html={markdownify(subtitle)} />}
          {
            button && (
              <Button
                label={button.label}
                link={button.link}
                newtab
                hoverInvert
                color=""
              />
            )
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
