---
import PuzzleCard from "@/components/PuzzleCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";
import BlogSidebar from "@/partials/BlogSidebar.astro";
import { getEntryBySlug } from "astro:content";

const { puzzle_folder } = config.settings;
const { slug } = Astro.params;
const postIndex = await getEntryBySlug<any, string>(puzzle_folder, "-index");
const posts = await getSinglePage(puzzle_folder);
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.puzzle_pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.puzzle_pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.puzzle_pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);

export async function getStaticPaths() {
  const posts = await getSinglePage(config.settings.puzzle_folder);
  const totalPages = Math.ceil(posts.length / config.settings.puzzle_pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- puzzles -->
        <div class="lg:col-8">
          <div class="row">
            {
              currentPosts.map((post) => (
                <div class="mb-14 md:col-6">
                  <PuzzleCard data={post} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={puzzle_folder}
            currentPage={currentPage}
            totalPages={totalPages}
          />
        </div>

        <!-- sidebar
        <BlogSidebar
          categories={categories}
          tags={tags}
          allCategories={allCategories}
        /> -->
      </div>
    </div>
  </section>
</Base>
