---
import type { PuzzlesEntry } from "@/types";
import Share from "@components/common/Share.astro";
import BaseLayout from "@components/base/BaseLayout.astro";
import TableOfContents from "@components/common/TableOfContents.astro";
import EntryHeader from "@components/common/EntryHeader.astro";
import { render } from "astro:content";

interface Props {
  entry: PuzzlesEntry;
}

const { entry } = Astro.props;
const { title, description, hideToc } = entry.data;

const { Content, headings } = await render(entry);

const globalHideToc = false;
const tocDepth = 3;

const actuallyHideToc =
  hideToc ||
  globalHideToc ||
  headings.filter((heading) => heading.depth <= tocDepth).length === 0;
---

<BaseLayout title={title} description={description}>
  <section class="flex container">
    <div class=`w-full ${actuallyHideToc ? "" : "md:col-9"}`>
      <article class="">
        <section>
          <EntryHeader entry={entry} showDescription />
        </section>
        <section class="content mb-4 glass px-4 rounded-lg">
          <Content />
        </section>
      </article>
    </div>
    {
      !actuallyHideToc && (
        <div class="hidden md:flex max-h-static_sidemenu sticky top-[5rem] mx-4 md:col-3">
          <TableOfContents {headings} />
        </div>
      )
    }
  </section>
  <section class=`container items-start justify-between mt-4`>
    <hr />
    <div class="flex items-center justify-center lg:justify-end mt-4">
      <Share
        title={title}
        description={description}
        folder={"blog"}
        id={entry.id}
      />
    </div>
  </section>
</BaseLayout>
