---
import DrinkCard from "@/components/DrinkCard.astro";
import Share from "@/components/Share.astro";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import similerItems from "@/lib/utils/similarItems";
import { lowerHumanize, markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

interface Recipe {
  ingredients: {
    list: string[];
    qty: string[];
  };
  instructions: string[];
  notes: string[];
}

const { drink_folder } = config.settings;
const posts = await getSinglePage(drink_folder);
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { title, description, cover, spirits, bottles, tags } = post.data;
const { ingredients, instructions, notes }: Recipe = post.data;

// alphabetize
{ spirits && spirits.sort((a: string, b: string) => a.localeCompare(b)) }
{ bottles && bottles.sort((a: string, b: string) => a.localeCompare(b)) }
{ tags && tags.sort((a: string, b: string) => a.localeCompare(b)) }
---

<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-10">
        <h1 set:html={title} class="mb-4" />

        <div class="row">
          <div class="lg:col-8 mb-8">
            {
              cover && (
                <Image
                  src={cover}
                  width={1920}
                  height={1080}
                  alt={title}
                  class="w-full rounded-lg"
                  format="webp"
                />
              )
            }
          </div>
          <!-- About -->
          <div class="lg:col-4 mb-8">
            <section class={`section-sm h-full bg-theme-light dark:bg-darkmode-theme-light rounded-lg`}>
              <div class="container -my-14">
                <h3 set:html="About" class="mb-4" />
                <!-- Spirits -->
                <ul>
                  { spirits && (
                    <div>
                      <li class="mr-4">
                        { spirits.map((spirit: string, index: number) => (
                          <a
                            class="m-1 inline-block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                            href={`/drinks/spirits/${spirit}`}
                          >
                            {lowerHumanize(spirit)}
                          </a>
                        ))}
                      </li>
                    </div>
                  )}
                </ul>
                <!-- Bottles -->
                <ul>
                  { bottles && (
                    <div>
                      <li class="mr-4">
                        { bottles.map((bottle: string, index: number) => (
                          <a
                            class="m-1 inline-block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                            href={`/drinks/bottles/${bottle}`}
                          >
                            {lowerHumanize(bottle)}
                          </a>
                        ))}
                      </li>
                    </div>
                  )}
                </ul>
                <!-- Tags -->
                <ul>
                  { tags && (
                    <li class="mr-4">
                      { tags.map((tag: string, index: number) => (
                        <a
                          class="m-1 inline-block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                          href={`/drinks/tags/${tag}`}
                        >
                          {lowerHumanize(tag)}
                        </a>
                      ))}
                    </li>
                  )}
                </ul>
                { description && (
                  <div>
                    {spirits || bottles || tags ? <hr class="my-2" /> : null}
                    <div class="m-4">
                      <div set:html={markdownify(description)} />
                    </div>
                  </div>
                )}
              </div>
            </section>
          </div>
        </div>
        
        <!-- Ingredients -->
        <section class="section-sm bg-theme-light dark:bg-darkmode-theme-light rounded-lg mb-4">
          <div class="container -my-10">
            <div class="row items-center justify-between">
              <div class="md:col-6 lg:col-6 md:order-1">
                <h2 set:html="Ingredients" class="mb-4" />
                <div class="row mx-4">
                  {ingredients.list.map((it: string, index: number) => (
                    <div class="row my-1">
                        <div class="col-7" set:html={ingredients.list[index]} />
                        <div class="col-5 text-right" set:html={ingredients.qty[index]} />
                      <hr class="my-1">
                    </div>
                  ))}
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Instructions -->
        <section class="section-sm bg-theme-light dark:bg-darkmode-theme-light rounded-lg mb-4">
          <div class="container -my-10">
            <div class="row items-center justify-between">
              <div class="md:col-8 lg:col-8 md:order-1">
                <h2 set:html="Instructions" class="mb-4" />
                <div class="row mx-4">
                  {instructions.map((it: string, index: number) => (
                    <div class="row my-1">
                      <div class="col">
                        {index + 1}.{" "}{it}
                      </div>
                      <hr class="my-1">
                    </div>
                  ))}
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Notes -->
        { notes && notes.length > 0 && (
          <section class="section-sm bg-theme-light dark:bg-darkmode-theme-light rounded-lg mb-4">
            <div class="container -my-10">
              <div class="row items-center justify-between">
                <div class="md:order-1">
                  <h2 set:html="Notes" class="mb-4" />
                  <div class="row mx-4">
                    {notes.map((it: string, index: number) => (
                      <div class="row my-1">
                        <div class="col">
                          {it}
                        </div>
                        <hr class="my-1">
                      </div>
                    ))}
                  </div>
                </div>
              </div>
            </div>
          </section>
        )}

        <!-- Share -->
        <div class="flex items-center justify-center lg:justify-end">
          <Share
            className="social-icons"
            title={title}
            description={description}
            folder={drink_folder}
            slug={post.slug}
          />
        </div>
      </article>
    </div>

    <!-- Similar Drinks -->
    {
      similarPosts.length > 0 && (
        <!-- Related posts -->
        <div class="section pb-0">
          <h2 class="h3 mb-8 text-center">Similar Drinks</h2>
          <div class="row justify-center">
            {
              similarPosts.slice(0, 3).map((post) => (
                <div class="lg:col-4 mb-4">
                  <DrinkCard data={post} />
                </div>
              ))
            }
          </div>
        </div>
      )
    }
  </div>
</section>
