---
import DrinkCard from "@/components/DrinkCard.astro";
import Share from "@/components/Share.astro";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import similerItems from "@/lib/utils/similarItems";
import { markdownify, slugify } from "@/lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
import {
  FaWineBottle,
  FaVial,
  FaNewspaper,
} from "react-icons/fa/index.js";

interface Recipe {
  ingredients: {
    list: string[];
    qty: string[];
  };
  instructions: string[];
}

const { drink_folder } = config.settings;
const posts = await getSinglePage(drink_folder);
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await post.render();
const { title, description, author, image, spirits, bottles, tags } = post.data;

const { ingredients, instructions }: Recipe = post.data;
---

<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-10">
        <h1 set:html={markdownify(title)} class="mb-4" />

        <div class="row">
          <div class="lg:col-8 mb-8">
            {
              image && (
                <Image
                  src={image}
                  width={1920}
                  height={1080}
                  alt={title}
                  class="w-full rounded-lg"
                  format="webp"
                />
              )
            }
          </div>
          <div class="lg:col-4 mb-8">
            <section class={`section-sm h-full bg-theme-light dark:bg-darkmode-theme-light rounded-lg mb-4`}>
              <div class="container -my-10">
                <h2 set:html="Tags" class="mb-4" />
                <ul class="mb-4">
                  <!-- Spirits -->
                  <li class="mr-4">
                    <FaWineBottle className={"mr-2 -mt-1 inline-block"} />
                    {
                      spirits.map((spirit: string, index: number) => (
                        <a
                          class="m-1 inline-block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                          href={`/drink/spirits/${spirit}`}
                        >
                          {spirit}
                        </a>
                      ))
                    }
                  </li>
                  <!-- Bottles -->
                  <li class="mr-4">
                    <FaVial className={"mr-2 -mt-1 inline-block"} />
                    {
                      bottles.map((bottle: string, index: number) => (
                        <a
                          class="m-1 inline-block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                          href={`/drink/bottles/${bottle}`}
                        >
                          {bottle}
                        </a>
                      ))
                    }
                  </li>
                  <!-- Tags -->
                  <li class="mr-4">
                    <FaNewspaper className={"mr-2 -mt-1 inline-block"} />
                    {
                      tags.map((tag: string, index: number) => (
                        <a
                          class="m-1 inline-block rounded bg-white px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-dark"
                          href={`/drink/tags/${tag}`}
                        >
                          {tag}
                        </a>
                      ))
                    }
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
        
        <!-- Ingredients -->
        <section class={`section-sm bg-theme-light dark:bg-darkmode-theme-light rounded-lg mb-4`}>
          <div class="container -my-10">
            <div class="row items-center justify-between">
              <div class={`md:col-7 lg:col-6 md:order-1`}>
                <h2 set:html="Ingredients" class="mb-4" />
                <div class="grid grid-cols-2 gap-4">
                  <ul class="list-disc list-inside">
                    {ingredients.list.map((bullet: string) => (
                      <li class="relative mb-2 pl-6">
                        <span set:html={markdownify(bullet)} />
                      </li>
                    ))}
                  </ul>
                  <ul>
                    {ingredients.qty.map((qty: string) => (
                      <li class="relative mb-2 pl-6">
                        <span set:html={markdownify(qty)} />
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Instructions -->
        <section class={`section-sm bg-theme-light dark:bg-darkmode-theme-light rounded-lg mb-4`}>
          <div class="container -my-10">
            <div class="row items-center justify-between">
              <div class={`md:col-7 lg:col-6 md:order-1`}>
                <h2 set:html="Instructions" class="mb-4" />
                <ol class="list-decimal">
                  {instructions.map((bullet: string) => (
                    <li class="relative mb-2 pl-6 list-inside">
                      <span set:html={markdownify(bullet)} />
                    </li>
                  ))}
                </ol>
              </div>
            </div>
          </div>
        </section>

        <!-- Share -->
        <div class="flex items-center justify-end">
          <h5 class="mr-3">Share:</h5>
          <Share
            className="social-icons"
            title={title}
            description={description}
            folder={drink_folder}
            slug={post.slug}
          />
        </div>
      </article>
    </div>

    <!-- Similar Drinks -->
    {
      similarPosts.length > 0 && (
        <!-- Related posts -->
        <div class="section pb-0">
          <h2 class="h3 mb-8 text-center">Similar Drinks</h2>
          <div class="row justify-center">
            {
              similarPosts.slice(0, 3).map((post) => (
                <div class="lg:col-4">
                  <DrinkCard data={post} />
                </div>
              ))
            }
          </div>
        </div>
      )
    }
  </div>
</section>
