---
import Share from "@/components/Share.astro";
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";

const { puzzle_folder } = config.settings;
const { post } = Astro.props;
const { Content } = await post.render();
const { title, description } = post.data;
---

<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-10">
        <h1 set:html={markdownify(title)} class="mb-4" />

        <div class="content mb-10">
          <Content />
        </div>
        
        <!-- Share -->
        <div class="flex items-center justify-center lg:justify-end">
          <Share
            className="social-icons"
            title={title}
            description={description}
            folder={puzzle_folder}
            slug={post.slug}
          />
        </div>
      </article>
    </div>
</section>
